.header-left-container {
  display: flex;
  align-items: center;
  width: auto;
}

.logo-container {
  display: flex;
  align-items: center;
}

.logo-icon {
  margin-right: 1.25rem;
}

nb-icon {
  font-size: 1.75rem;
}

.logo-font {
  font-size: 1.75rem;
  margin-right: 1.25rem;
}
